@charset "utf-8";

body{
  background:#fff8dc;
  color:#201f1c;
}

a:link{color:#3030ff;}
a:visited{color:#703090;}

H1{
  COLOR:#006060;
}

.center{
  text-align:center;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.small{
  font-size: 60%;
}

